@use "./functions" as *;

.site-header{
  padding: 20px 0;
  background: rgba($black-900, 0.7);
  backdrop-filter: blur(16px);
  position: sticky;
  z-index: 100;
  top: 0;

  .container{
    position: relative;
    z-index: 101;
  }

  nav.menu {
    ul {
      li {
        position: relative;
        padding: 0 16px;

        a {
          color: #fff;
          font-family: $font-base;
          font-weight: 200;
          letter-spacing: 0.04em;
          transition: all 0.5s ease;

          &:hover {
            color: $pri-300;
            opacity: 1;
          }
        }

        .sub-menu {
          position: absolute;
          top: calc(100% + 12px);
          left: 0;

          background: $black-900;

          display: flex;
          flex-direction: column;

          min-width: 280px;
          width: max-content;

          padding: 16px 0;

          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          transform: translateY(10px);

          transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            visibility 0.3s ease;

          z-index: 10;

          li {
            padding: 8px 20px;
            white-space: nowrap;
          }
        }

        /* Invisible hover bridge */
        &.has-sub::after {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          height: 20px;
        }

        &.has-sub:hover .sub-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }
  }

  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;

    @include lg {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      transition: all 0.3s ease-in-out;
      inset: 0;
      transform: scale(1.4);
    }

    .line {
      width: 24px;
      height: 2px;
      background-color: $white;
      display: block;
      margin: 4px auto;
      transition: all 0.3s ease-in-out;

      &:nth-child(2) {
        transform-origin: center center;
      }
    }

    &.is-active {

      .line {
        width: 24px;

        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg) scale(0.9);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(-12px) rotate(-45deg) scale(0.9);
        }
      }
    }



    &:hover {
      cursor: pointer;
    }
  }
}

.mobile-menu {

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    max-width: 100vw;
    width: 100%;
    background: $black-800;
    height: 100vh;
    inset: 0;
    z-index: 90;
    pointer-events: none;
    transition: all 0.6s ease;
    transform: translateX(-100%);
    overflow-y: scroll;

    &.is-active {
      transform: translateX(0%);
      pointer-events: auto;
    }

    @include lg{
      display: none;
    }
  }

  &-content {
    padding: 32px 60px 0;

    ul {
      li {
        padding: 16px 0;
        text-align: center;
        border-bottom: solid 1px rgba($white, 0.2);

        &:last-child {
          border-bottom: none;
        }

        a {
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.04em;
          color: #fff;
        }
      }
    }
  }
}

.page-header{

  .intro{
    display: block;

    &-subtitle{
      color: $pri-400;
      margin-bottom: 24px;
      overflow: hidden;

      span{
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &-heading{
      color: $white;
      line-height: 1;
      @include fluid-type(56px, 100px);
      margin-bottom: 24px;
      mix-blend-mode: difference;
    }
  }

  .video-player{
    clip-path: inset(0 100% 0 0);
  }
}