@use "./functions" as *;


.hero{
  display: flex;
  height: calc(100vh - 50px);
  background: url('/images/bg-hero.webp') no-repeat center center;
  background-size: cover;
  position: relative;

  .text-sticker{
    position: absolute;
    font-family: $font-display;
    font-size: 24px;
    padding: 8px 16px;
    width: fit-content;
    text-transform: uppercase;

    &-cyan{
      transform: rotate(-5deg);
      top: 35%;
      right: 0;
    }

    &-yellow{
      top: 85%;
      left: 15%;
      transform: rotate(-5deg);
    }
  }

  .h1{
    font-family: $font-mono;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1;

    @include xl{
      font-size: 180px;
      line-height: 1;
    }
  }

  p{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.04em;
    line-height: 1.4;
    margin-top: -12px;
    display: none;
  }

  .hero-icons{
    gap: 16px;
    align-items: center;

    img{
      width: 100%;
      max-width: 48px;
      opacity: 0.5;
    }

    h4{
      color: $black-400;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 200;
      margin-bottom: 0;
    }
  }

  .wrap-heading-3d{
    position: relative;
    overflow: hidden;

    .front, .back{
      perspective: 1800px;
      transform-style: preserve-3d;
      will-change: transform;
    }

    .front{
      backface-visibility: hidden;
      transform-origin: 50% 100%;
    }

    .back{
      position: absolute;
      transform-origin: 50% 0;
      inset: 0;
    }
  }
}