@use './functions' as *;

.project{

  &-header {
    height: 100vh;

    h1{
      font-size: 32px;
      font-family: $font-base;
      color: #fff;

      @include lg{
        font-size: 52px;
        margin-top: 16px;
      }
    }

    p.intro-desc{
      @include truncate(2);
    }

    // ul{
    //   // display: flex;
    //   // flex-direction: column;
    //   // color: #fff;
    //   // margin-bottom: 32px;

    //   // @include lg{
    //   //   flex-direction: row;
    //   //   gap: 16px;
    //   //   margin-bottom: 0;
    //   // }

    //   li{

    //     @include lg{
    //       padding: 0;
    //     }

    //     &:after{
    //       content:"•";
    //       display: flex;
    //       padding-left: 12px;

    //       @include lg{
    //         display: none;
    //       }
    //     }

    //     &:last-child::after{
    //       display: none;
    //     }
    //   }
    // }
  }

  &-content{

    h2.title{
      font-size: 24px;
      color: #fff;

      @include lg{
        font-size: 32px;
      }
    }

    h3{
      font-size: 18px;

      @include lg{
        font-size: 20px;
      }
    }

    hr{
      border:solid 1px rgba($white, 0.1);
      margin: 32px 0;
    }
  }
}