$font-base: "Onest", sans-serif;
$font-size-base: 16px;
$browser-context: 16;

// Colors

$pri: #df5430;

$pri-50: #fdf4ef;
$pri-100: #fae5da;
$pri-200: #f4c9b4;
$pri-300: #eda584;
$pri-400: #e57652;
$pri-500: #df5430;
$pri-600: #d13d25;
$pri-700: #ad2d21;
$pri-800: #8a2722;
$pri-900: #70221e;
$pri-950: #3c0f0e;

$white: #ffffff;
$black-50: #f8fafc;
$black-100: #f1f5f9;
$black-200: #e2e8f0;
$black-300: #cbd5e1;
$black-400: #94a3b8;
$black-500: #64748b;
$black-600: #475569;
$black-700: #334155;
$black-800: #1e293b;
$black-900: #0f172a;
$black: #020617;

// Screen Size

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;
