$font-base: "Inter Tight", sans-serif;
$font-mono: "Stick No Bills", monospace;
$font-display: "Stack Sans Text", sans-serif;
$font-size-base: 16px;
$browser-context: 16;

// Colors

$pri: #F3970D;

$pri-50   : #FFFBEB;
$pri-100  : #FDF2C8;
$pri-200  : #FCE28B;
$pri-300  : #FACE4F;
$pri-400  : #F9B926;
$pri-500  : #F3970D;
$pri-600  : #D77208;
$pri-700  : #B24F0B;
$pri-800  : #913D0F;
$pri-900  : #773310;
$pri-950  : #441804;

$white: #fff;
$black-50: #f9fafb;
$black-100: #f3f4f6;
$black-200: #e5e7eb;
$black-300: #d1d5db;
$black-400: #9ca3af;
$black-500: #6b7280;
$black-600: #4b5563;
$black-700: #374151;
$black-800: #1f2937;
$black-900: #111827;
$black: #030712;

// Screen Size

$screen-sm  : 640px;
$screen-md  : 768px;
$screen-lg  : 1024px;
$screen-xl  : 1320px;
$screen-xxl : 1536px;
